/* Fonts family*/
@font-face {
  font-family: 'Nunito_reg';
  src: url('../fonts/Nunito-Regular.eot');
  src: url('../fonts/Nunito-Regular.eot?#iefix') format('embedded-opentype'), url('../fonts/Nunito-Regular.woff2') format('woff2'), url('../fonts/Nunito-Regular.woff') format('woff'), url('../fonts/Nunito-Regular.ttf') format('truetype'), url('../fonts/Nunito-Regular.svg#Nunito-Regular') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Nunito_black';
  src: url('../fonts/Nunito-Black.eot');
  src: url('../fonts/Nunito-Black.eot?#iefix') format('embedded-opentype'), url('../fonts/Nunito-Black.woff2') format('woff2'), url('../fonts/Nunito-Black.woff') format('woff'), url('../fonts/Nunito-Black.ttf') format('truetype'), url('../fonts/Nunito-Black.svg#Nunito-Black') format('svg');
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Nunito_light';
  src: url('../fonts/Nunito-Light.eot');
  src: url('../fonts/Nunito-Light.eot?#iefix') format('embedded-opentype'), url('../fonts/Nunito-Light.woff2') format('woff2'), url('../fonts/Nunito-Light.woff') format('woff'), url('../fonts/Nunito-Light.ttf') format('truetype'), url('../fonts/Nunito-Light.svg#Nunito-Light') format('svg');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Nunito_bold';
  src: url('../fonts/Nunito-Bold.eot');
  src: url('../fonts/Nunito-Bold.eot?#iefix') format('embedded-opentype'), url('../fonts/Nunito-Bold.woff2') format('woff2'), url('../fonts/Nunito-Bold.woff') format('woff'), url('../fonts/Nunito-Bold.ttf') format('truetype'), url('../fonts/Nunito-Bold.svg#Nunito-Bold') format('svg');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Nunito_semibold';
  src: url('../fonts/Nunito-SemiBold.eot');
  src: url('../fonts/Nunito-SemiBold.eot?#iefix') format('embedded-opentype'), url('../fonts/Nunito-SemiBold.woff2') format('woff2'), url('../fonts/Nunito-SemiBold.woff') format('woff'), url('../fonts/Nunito-SemiBold.ttf') format('truetype'), url('../fonts/Nunito-SemiBold.svg#Nunito-SemiBold') format('svg');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
/* Fonts */
/* Colors */
/* Basic setting */
html {
  font-size: 12px;
}
/* Typography */
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}
body {
  font-family: 'Nunito_reg', sans-serif;
}
/* Навигационная панель */
a,
:before,
:after {
  -webkit-transition: 0.5s;
  transition: 0.5s;
}
.nav-item a {
  position: relative;
  color: #ffffff;
  font-family: 'Nunito_reg', sans-serif;
  font-size: 14px;
  font-weight: 400;
  text-transform: uppercase;
  padding: 2.5px 15px;
}
.nav-item a:hover {
  opacity: .7;
}
.nav-item a:before {
  content: '';
  position: absolute;
  left: 0px;
  bottom: 1px;
  width: 0%;
  height: 1px;
  background-color: #e7e7e7;
}
.nav-item a:hover:before {
  width: 25%;
}
.toolbar-phone {
  text-align: center;
}
.toolbar-phone a {
  display: block;
}
.toolbar-phone a:hover {
  opacity: .7;
}
.phone {
  display: block;
  padding-bottom: 10px;
}
.phone-number {
  display: block;
  color: #ffffff !important;
  font-family: 'Nunito_semibold', sans-serif;
  font-size: 18px;
  font-weight: 600;
  text-transform: uppercase;
  text-align: center;
}
.call-back {
  color: #e7e7e7 !important;
  font-family: 'Nunito_reg', sans-serif;
  line-height: 1.5px;
  font-size: 12px;
  font-weight: 100;
  letter-spacing: 1.5px;
  text-decoration: underline;
  text-transform: uppercase;
  display: block;
  text-align: center;
  padding-left: 20px;
}
.navbar-nav li {
  padding-right: 15px;
}
.navbar-brand:hover {
  opacity: .7;
}
.img-phone {
  width: 20px;
  height: 20px;
  display: inline-block;
  margin-bottom: 10px;
  padding-right: 2px;
}
/* Конец кода nav панели */
a:hover {
  text-decoration: none;
}
button:focus,
input:focus,
a:focus {
  outline: none;
}
.picture {
  height: 850px;
  background: #ffffff url(../img/main-bg.jpg) center center no-repeat;
}
.main-content {
  /*Главный заголовок */
  /*Подзаголовок */
  /*Преимущества */
}
.main-content h1 {
  font-family: 'Nunito_semibold', sans-serif;
  color: #f48f17;
  font-size: 36px;
  font-weight: 600;
  margin-bottom: 10px;
  margin-top: 100px;
}
.main-content h2 {
  font-family: 'Nunito_semibold', sans-serif;
  color: #ffffff;
  font-size: 32px;
  font-weight: 400;
}
.main-content .advantage {
  font-family: 'Nunito_semibold', sans-serif;
  font-size: 20px;
  font-weight: 600;
  color: #ffffff;
  margin-top: 10rem;
  line-height: 2rem;
  margin-bottom: 65px;
}
.main-content .advantage p {
  margin-bottom: 10px;
  /*Иконка звезды */
}
.main-content .advantage p .img-star {
  display: inline-block;
  margin: 0px 2px;
  padding-bottom: 7px;
}
.main-button {
  /*Стиль кнопок*/
  width: 250px;
  height: 60px;
  display: inline-block;
  margin-top: 65px;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}
.take-number-btn {
  /* Кнопка выбора номера */
  -webkit-box-shadow: 0 5px 0 #8b4c02;
          box-shadow: 0 5px 0 #8b4c02;
  border-radius: 5px;
  border: 3px solid #f48f17;
  background-color: #161d23;
  /* Текст */
  color: #f48f17;
  font-family: 'Nunito_reg', sans-serif;
  font-size: 20px;
  font-weight: 400;
  text-transform: uppercase;
  margin-right: 65px;
}
.take-number-btn:hover {
  cursor: pointer;
  background-color: #202a33;
}
/* Кнопка бронирования */
.book-btn {
  -webkit-box-shadow: 0 5px 0 #8b4c02;
          box-shadow: 0 5px 0 #8b4c02;
  border-radius: 5px;
  background-color: #f48f17;
  /* Текст */
  font-family: 'Nunito_reg', sans-serif;
  font-size: 20px;
  font-weight: 400;
  text-transform: uppercase;
  color: #f8f8f8;
}
.book-btn:hover {
  cursor: pointer;
  background-color: #e7820b;
}
.arrow {
  display: block;
  text-align: right;
  margin-right: 33%;
  margin-top: 5%;
}
.arrow a {
  font-size: 45px;
  color: #fff;
}
@media (max-width: 992px) {
  .main-button {
    margin-top: 5%;
    margin-right: 50%;
  }
  .arrow {
    display: none;
  }
}
